.page-template .sm-grid>* {
  grid-column: content;
}

/* Ẩn tiêu đề và hình ảnh nổi bật mặc định */
.gh-page-header {
  display: none;
}

/* Nếu @page.show_title_and_feature_image là true, hiển thị tiêu đề và hình ảnh */
.page-show-title .gh-page-header {
  display: block;
}

/* Tùy chỉnh thêm cho hình ảnh nổi bật */
.gh-page-header img {
  width: 100%;
  /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng */
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}